/* body {
    background-color: lightblue;
    margin: 0;
    counter-reset: myCount 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Serif', serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    line-height: 1.6;
} */

